<header>
  <span class="header-text">farmersmanual</span>
</header>
<nav>
  <a href="/"> / </a> |
  <a href="/_"> _ </a> |
  <a href="/fsck">fsck</a> |
  <a href="/generate-and-test">g&t</a> |
  <a href="/about">about</a>
</nav>
