/** Variables **/

:root
{
    --Canvas-bg: #fff;
    --Canvas-color: #000;
    --Pre-bg: #efefef;
    --Pre-color: #000;
    --Pre-border: #aaa;
    --Main-color: #8DE4FF;
    --Code-color: #1a8a66;    /* teal */
    --Accent1-color: #e31e24; /* red */
    --Accent2-color: #F9DC5C;
    --Selection-bg: #e31e24;
    --Selection-color: #fff;
    /* from KWrite */
    --Highlight-num: #b07e00;
    --Highlight-esc: #ff00ff;
    --Highlight-str: #bf0303;
    --Highlight-pps: #818100;
    --Highlight-slc: #4c4b4b;
    --Highlight-com: #4c4b4b;
    --Highlight-ppc: #008200;
    --Highlight-opt: #000000;
    --Highlight-ipl: #0057ae;
    --Highlight-lin: #555555;
    --Highlight-kwa: #000000;
    --Highlight-kwb: #0057ae;
    --Highlight-kwc: #000000;
    --Highlight-kwd: #010181;
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --Canvas-bg: #000;
        --Canvas-color: #fff;
        --Pre-bg: #151515;
        --Pre-color: #fff;
        --Pre-border: #222;
        --Main-color: #111;   /* #f2f2f2 */
        --Code-color: #2adba4; /* teal */
        --Accent1-color: #e31e24; /* red */
        --Accent2-color: #ef7f1a; /* orange */
        /* via @toastal */
        --Highlight-num: #43a60d;
        --Highlight-esc: #dfad06;
        --Highlight-str: #f77f1d;
        --Highlight-pps: #d60041;
        --Highlight-slc: #a0a0a0;
        --Highlight-com: #a0a0a0;
        --Highlight-ppc: #94e39;
        --Highlight-opt: #ffffff;
        --Highlight-ipl: #4dc987;
        --Highlight-lin: #555555;
        --Highlight-kwa: #d60041;
        --Highlight-kwb: #8655e7;
        --Highlight-kwc: #ffffff;
        --Highlight-kwd: #00a48f;
    }
}

/** Fixups */

/* Avoid elements wider than screen on mobile */
img
{
    display: inline-block;
    max-width: 100%;
}

pre, code, sample
{
    white-space: pre-wrap;
    hyphens: none;
}

table
{
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body
{
    margin: 0;
    line-height: 1.5;
    font-size: 1.6rem;
}

/** Structural blocks */

body
{
    max-width: 88rem;
    padding: 1rem 2rem 2rem;
    margin-left:  auto;
    margin-right: auto;
}


/* Visual styles */

html
{
    background: var(--Canvas-bg);
    color: var(--Canvas-color);
    background-image: url("/i/11.13.14.jpg");
    /* background-image: url("/i/fm4_zigzagiz.png"); */
    /* background-repeat: repeat-y; */
    background-attachment: fixed;
    text-shadow: 0px 0px 7px #9ff, 0px 0px 2px #a11;
}

header
{
    text-align: center;
}

.header-text
{
    font-size: 150%;
    font-weight: bold;
}

::selection
{
    background: var(--Selection-bg);
    color: var(--Selection-color);
}

/* shared gradient border */
nav, header, footer
{
    border-width: 0;
    border-style: solid;
    border-color: var(--Accent1-color);
    border-image: linear-gradient(to right, var(--Accent1-color), var(--Accent2-color)) 2;
}

nav, header
{
    position: fixed;
    left: 0px;
    top: 0px;
    font-size: 2rem;
    /* border-bottom-width: 0.5rem; */
    padding: 1rem;
    padding-bottom: 0rem;
    text-align: left;
    background: linear-gradient(to right, var(--Accent1-color), var(--Accent2-color));
}

main
{
    color: var(--Main-color);
    text-rendering: optimizeLegibility;
    /* background-color: rgb(0, 255, 255, 20%); */
}

footer
{
    text-align: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top-width: 2px;
}

a {
    color: var(--Accent2-color);
    background-color:  rgb(0, 55, 55, 20%);
    text-decoration: none;
    transition: 1s;
}

a:hover, a:focus
{
    text-decoration: overline underline #ED4D6E wavy 23px;
    color: var(--Accent1-color);
    background-color: var(--Accent2-color);
    transition: 2s;
}

a.nav-active {
    color: var(--Accent1-color);
    transition: 0.5s;
}

nav a { text-decoration: none; }

a.here { text-decoration: none; }

hr {
    border: 0 none;
    color: var(--Accent2-color);
    background-color: currentColor;
    height: 2px;
    /* width: 100%; */
    /* left: 0px; */
    /* position: absolute; */
    /* margin-top: 2em */
    /* margin-bottom: 2em; */
}

hr.footnotes { width: 40%; }

a.footnote
{
    text-decoration: none;
    margin-right: 0.4rem;
}

ul.toc { list-style: none; }

h5 { font-size: 1.6rem; }
h6 { font-size: 1.4rem; }

code, kbd, samp
{
    color: var(--Code-color);
}

blockquote {
  font-size: 1.3em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 13em;
  margin-left: -50px;
  padding-left: 15px;
  /* border-left: 3px solid #ccc; */
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
}

blockquote:before {
  content: "»";
  color: #78C0A8;
  font-size: 4em;
  position: absolute;
  left:  -1em;
  top:   -0.5em;
}

blockquote p {
  display: block;
}

cite {
  position: absolute;
  right: 0px;
  font-size: 0.9em;
  text-align: right;
}

/** Typography */

@supports (hyphens: auto)
{
    main
    {
        text-align: justify;
        hyphens: auto;
    }
}

body
{
    font-family: system-ui, sans-serif;
    font-weight: 400;
}

table, th, td
{
    border: 1px solid var(--Accent1-color);
    border-collapse: collapse;
}

th, td
{
    padding: 0.5em;
    hyphens: none;
    text-align: left;
}

.centered { text-align: center; }

@media (prefers-color-scheme: dark)
{
    body
    {
        font-weight: 350;
    }
}


/* Style definition file generated by highlight 3.52, http://www.andre-simon.de/ */
/* highlight theme: Kwrite Editor */
body.hl	{ background-color: #e0eaee; }
pre.hl	{ color: #000000; background-color:#e0eaee; font-size: 10pt; font-family: monospace; }
.hl.num { color: var(--Highlight-num); }
.hl.esc { color: var(--Highlight-esc); }
.hl.str { color: var(--Highlight-str); }
.hl.pps { color: var(--Highlight-pps); }
.hl.slc { color: var(--Highlight-slc); font-style: italic; }
.hl.com { color: var(--Highlight-com); font-style: italic; }
.hl.ppc { color: var(--Highlight-ppc); }
.hl.opt { color: var(--Highlight-opt); }
.hl.ipl { color: var(--Highlight-ipl); }
.hl.lin { color: var(--Highlight-lin); }
.hl.kwa { color: var(--Highlight-kwa); font-weight: bold; }
.hl.kwb { color: var(--Highlight-kwb); }
.hl.kwc { color: var(--Highlight-kwc); font-weight: bold; }
.hl.kwd { color: var(--Highlight-kwd); }

pre
{
    box-sizing: border-box;
    overflow: auto;
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
    border: 1px solid var(--Pre-border);
    background: var(--Pre-bg);
    color: var(--Pre-color);
}

pre code
{
    color: inherit;
}


/* specifics (and/or) */

div#latest dl {
    text-align: right;
}

div#latest a {
    font-size: 2em;
}

p {
    background-color: rgb(10, 10, 10, 50%);
}

table {
    background-color: rgb(10, 10, 10, 75%);
    border: 0;
}
